<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Derby    -->
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.use_outer_join">false</property>
        <property name="jta.UserTransaction">java:comp/UserTransaction</property>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.connection.url">jdbc:derby://localhost:1527/sales;create=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">nomis11s</property>
        <property name="hibernate.show.sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping resource="sales/Bank.hbm.xml"/>
        <mapping resource="sales/Organization.hbm.xml"/>
        <mapping resource="sales/Input.hbm.xml"/>
<!--        <mapping resource="sales/Output.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
