<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>invoiceAssistant Application</display-name>
    <description>invoiceAssistant War</description>
    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- end orig spring-dm -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.genrepsoft.toolkit.web.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/j_spring_security_check</url-pattern>
    </filter-mapping>
    <!-- Spring Security (Acegi) -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <!-- Session Listener needed for detection of a expired sessions -->
    <listener>
        <listener-class>com.genrep.session.listener.SessionListener</listener-class>
    </listener>
    <!-- Facelets & IceFaces -->
    <context-param>
        <description>
            When a page is requested, what interval in seconds should the compiler check for changes.
            If you don't want the compiler to check for changes once the page is compiled,
            then use a value of -1. Setting a low refresh period helps during development
            to be able to edit pages in a running application.
            default: 2
        </description>
        <param-name>facelets.REFRESH_PERIOD</param-name>
        <param-value>-1</param-value>
    </context-param>
    <context-param>
        <description>
            State saving method: "client" or "server" (= default)
            See JSF Specification 2.5.2
        </description>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
            /WEB-INF/faces-config.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.jspx</param-value>
    </context-param>
    <context-param>
        <param-name>com.icesoft.faces.standardRequestScope</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.icesoft.faces.uploadDirectory</param-name>
        <param-value>upload</param-value>
    </context-param>
    <context-param>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to validate the XML in your
            faces-config.xml resources against the DTD.  Default
            value is false.
        </description>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to verify that all of the application
            objects you have configured (components, converters,
            renderers, and validators) can be successfully created.
            Default value is false.
        </description>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Specifies to the ICEfaces framework whether to support multiple views of a
     single application from the same browser.  When running in a Portlet
     environment, this parameter must be set to true. -->
    <context-param>
        <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Specifies to the ICEfaces framework that synchronous update mode is to be
     used.  By default, ICEfaces uses asynchronous update mode to support
     server-initiated updates (AJAX push).  Setting to true will enable
     synchronous update mode and disable AJAX push features. -->
    <context-param>
        <param-name>com.icesoft.faces.synchronousUpdate</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- Specifies the amount of time in milliseconds that the bridge will wait for
     a response from the server for a user-initiated request before declaring
     the connection lost.  Un-comment and change the default value, if necessary.
-->
    <context-param>
        <param-name>com.icesoft.faces.connectionTimeout</param-name>
        <param-value>120000</param-value>
    </context-param>
    <!-- Specifies the amount of time in milliseconds that an idle asynchronous
     blocking connection should be held open before being released. Normally,
     the blocking connection is closed and re-opened with every communication to
     the browser, such as user interaction or a heartbeat ping. The purpose of
     this setting is to remove the possibility of threads being held blocked for
     a long duration on a dead or completely inactive client connection. This
     value should be longer than the heartbeat interval to avoid unnecessary
     network traffic.  Un-comment and change the default value, if necessary.
    <context-param>
        <param-name>com.icesoft.faces.blockingConnectionTimeout</param-name>
        <param-value>90000</param-value>
    </context-param>
-->
    <!-- Specifies the amount of time in milliseconds between heartbeat messages.
     Un-comment and change the default value, if necessary.
    <context-param>
        <param-name>com.icesoft.faces.heartbeatInterval</param-name>
        <param-value>50000</param-value>
    </context-param>
-->
    <!-- Specifies how many consecutive heartbeat connection attempts may fail
     before the connection is considered lost.  Un-comment and change the
     default value, if necessary.

    <context-param>
        <param-name>com.icesoft.faces.heartbeatRetries</param-name>
        <param-value>3</param-value>
    </context-param>
    -->
    <!-- Specifies the number of milliseconds that a heartbeat request waits for a
     successful response before it is considered timed out.  Un-comment and
     change the default value, if necessary.
    <context-param>
        <param-name>com.icesoft.faces.heartbeatTimeout</param-name>
        <param-value>30000</param-value>
    </context-param>
-->
    <!-- Specifies a page URI to redirect the client to when an asynchronous
     connection is lost. The parameter value must be surrounded by single
     quotes.  Un-comment and change the default value, if necessary.
     -->
    <context-param>
        <param-name>com.icesoft.faces.connectionLostRedirectURI</param-name>
        <param-value/>
    </context-param>
    <!-- When a user session expires, ICEFaces can be configured to redirect the browser
    to a specific page. This feature can be turned on application-wide using the
    ICEfaces context parameter, com.icesoft.faces.sessionExpiredRedirectURI.
    If not specified, the default `Session Expired' overlay will be rendered or
    if the ice:outputConnectionStatus component is present, the `Session Expired' icon.
    -->
    <context-param>
        <param-name>com.icesoft.faces.sessionExpiredRedirectURI</param-name>
        <param-value>'login.jsp'</param-value>
    </context-param>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <context-param>
        <param-name>com.icesoft.faces.sessionExpiredServerRedirect</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
    </listener>
    <listener>
        <listener-class>
            com.genrep.application.view.bean.component.inputFile.InputFileSessionCleaner
        </listener-class>
    </listener>
    <!-- file upload Servlet -->
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>
    <!-- icefaces servlets -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Blocking Servlet</servlet-name>
        <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadHtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>/xmlhttp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persistent Faces Servlet</servlet-name>
        <url-pattern>*.iface</url-pattern>
    </servlet-mapping>
    <!-- Blocking Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Blocking Servlet</servlet-name>
        <url-pattern>/block/*</url-pattern>
    </servlet-mapping>
    <!-- non-Osgi platform -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/genrepProject-servlet.xml
        </param-value>
    </context-param>
    <!-- Spring MVC -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
</web-app>
